*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:'Segoe UI',sans-serif;
background:linear-gradient(
135deg,
#120018,
#240033,
#000000
);
color:white;
overflow:hidden;
}

.background-glow{
position:absolute;
width:500px;
height:500px;
background:#8b5cf6;
border-radius:50%;
filter:blur(200px);
opacity:.2;
}

.focus-card{
width:420px;
max-width:90%;
padding:40px;
text-align:center;
background:rgba(255,255,255,.05);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.1);
border-radius:25px;
box-shadow:0 8px 30px rgba(0,0,0,.4);
z-index:1;
}

h1{
margin-bottom:10px;
}

.subtitle{
opacity:.8;
margin-bottom:25px;
}

.plant-circle{
width:140px;
height:140px;
margin:auto;
border-radius:50%;
background:rgba(255,255,255,.08);
border:3px solid #a855f7;
display:flex;
justify-content:center;
align-items:center;
font-size:4rem;
animation:float 3s ease-in-out infinite;
}

@keyframes float{
0%,100%{
transform:translateY(0);
}

50%{
    transform:translateY(-10px);
}
}

.timer{
margin:25px 0;
font-size:3rem;
font-weight:bold;
color:#c084fc;
}

.time-select{
margin-bottom:20px;
}

select{
padding:10px;
margin:5px;
border:none;
border-radius:10px;
background:#2e003e;
color:white;
}

.button-group{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
}

.btn{
border:none;
padding:12px 18px;
border-radius:12px;
cursor:pointer;
color:white;
background:#3b0764;
transition:.3s;
}

.btn:hover{
transform:translateY(-3px);
}

.primary{
background:#8b5cf6;
}

.danger{
background:#dc2626;
}

.quote{
margin-top:25px;
opacity:.8;
font-style:italic;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.7);
justify-content:center;
align-items:center;
z-index:999;
}

.modal-content{
width:350px;
max-width:90%;
padding:20px;
border-radius:20px;
background:#2e003e;
text-align:center;
}

.label-input{
width:100%;
padding:10px;
margin-bottom:15px;
border:none;
border-radius:10px;
background:#1a1a1a;
color:white;
}

.plant-option{
margin:10px 0;
padding:12px;
border-radius:10px;
background:#8b5cf6;
color:black;
cursor:pointer;
}

.plant-option:hover

#recordsList{
list-style:none;
text-align:left;
margin:15px 0;
max-height:250px;
overflow-y:auto;
}

#recordsList li{
margin-bottom:15px;
}
